.mask {
  -webkit-mask-size: 39px 39px;
  background-repeat: no-repeat;
  position: absolute;
  width: 39px;
  height: 39px;
  margin-left: -20px;
  margin-top: -20px;
  background-size: 39px 39px;
}

.mask.white {
  background-color: white;
}

.mask.yellow {
  background-color: #ffab00;
}

.mask.red {
  background-color: #b00;
}

.map {
  background-repeat: no-repeat;
  position: absolute;
  width: 39px;
  height: 39px;
  margin-left: -20px;
  margin-top: -20px;
  background-size: 39px 39px;
  z-index: 3;
}

.mapMain {
  position: absolute;
  width: 39px;
  height: 39px;
  margin-left: -20px;
  margin-top: -20px;
  background-size: 39px 39px;
  cursor: pointer;
  cursor: hand;
  z-index: 5;
}

.popoverPad {
  margin-left: 20px;
  margin-top: 20px;
}
/* change pointer to hand when hovering over map */
.map.shaperId {
  width: 80px;
  height: 80px;
  margin-left: -39px;
  margin-top: -39px;
  background-size: 80px 80px;
  cursor: pointer;
  cursor: hand;
  z-index: 1;
}