.map {
  background-repeat: no-repeat;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  background-size: 20px 20px;
  cursor: pointer;
  cursor: hand;
  z-index: 3;
}

/* change pointer to hand when hovering over map */
.map.shaperId {
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  background-size: 40px 40px;
  cursor: pointer;
  cursor: hand;
  z-index: 1;
}

.map.menu {
  position: initial;
  margin-left: 0;
  margin-top: 0;
}

.map.menu.shaped {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
}

/* circle for maps with shaper orb */
.shaperOrb {
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  z-index: 0;
}

.borderDottedYellow {
  border: 2px dotted yellow;
}

.borderDottedBlue {
  border: 2px dotted blue;
}

.highlight {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  margin-top: -15px;
  z-index: 0;
}

.yellowBorderFill {
  border: 2px solid yellow;
  background: white;
}

.blueBorderFill {
  border: 2px solid blue;
  background: lightblue;
}

.info {
  width: 20px;
}

.buttonImageSize {
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}

.seal {
  background-image: url('/Art/2DItems/Currency/SealWhite.png');
}

.seal.toggle {
  background-image: url('/Art/2DItems/Currency/SealRed.png');
}

.sextant {
  background-image: url('/Art/2DItems/Currency/AtlasRadiusWhite.png');
}

.sextant.toggle {
  background-image: url('/Art/2DItems/Currency/AtlasRadiusRed.png');
}

.orb {
  background-image: url('/Art/2DItems/Currency/UpgradeMap-GRAYSCALE.png');
}

.orb.toggle {
  background-image: url('/Art/2DItems/Currency/UpgradeMapToYellow.png');
}

.border-right-black {
  border-right-style: solid;
  border-right-color: gray;
  border-right-width: 2px;
}
/* sextant circle */
.sextanted {
  position: absolute;
  width: 217.232676963px;
  height: 217.232676963px;
  margin-left: -108.616338481px;
  margin-top: -108.616338481px;
  z-index: 2;
}

.borderDottedRed {
  border: 2px dotted red;
}

.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.easeInTransition {
  -moz-transition:all 1s ease-in-out;
  -webkit-transition:all 1s ease-in-out;
  -o-transition:all 1s ease-in-out;
  -ms-transition:all 1s ease-in-out;
  transition:all 1s ease-in-out;
}

.rotate {
  -webkit-animation:spin 30s linear infinite;
  -moz-animation:spin 30s linear infinite;
  animation:spin 30s linear infinite;
}

.flicker {
  -webkit-animation: flickerAnimation 1.5s infinite;
  -moz-animation: flickerAnimation 1.5s infinite;
  -o-animation: flickerAnimation 1.5s infinite;
  animation: flickerAnimation 1.5s infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@keyframes flickerAnimation {
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}